<% if @posixaccount %>
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">x</button>
    <h3>Change <%= @posixaccount.uid %>'s password</h3>
  </div>
  <div class="modal-body">
    <form class="form-horizontal" id="reset-password" method="post" action="/ldap/<%= @posixaccount.uid %>/changepassword">
      <fieldset>
        <div id="password-error" class="alert alert-error">
        </div>

        <!-- Password -->
        <div class="control-group">
          <label class="control-label" for="account-password">Password</label>
          <div class="controls">
            <input type="password" id="account-password" name="account-password" />
          </div>
        </div>

        <div class="control-group">
          <label class="control-label" for="verify-account-password">Password</label>
          <div class="controls">
            <input type="password" id="verify-account-password" name="verify-account-password" />
          </div>
        </div>

        <div class="form-actions">
          <input type="submit" class="btn btn-primary" value="Change"/>
        </div>
      </fieldset>
    </form>
  </div>

  <script type="text/javascript">
    $('#password-error').hide();
    $('#reset-password').submit(function() {
      $('#password-error').hide();
      if ( $('#account-password').val() == $('#verify-account-password').val() ) {
        return true;
      } else {
        $('#password-error').html(
          "<h4>Passwords don't match!<\h4>"
        );
        $('#password-error').show();
        return false;
      }
    });
  </script>
<% end %>
